<div class="container">
    <div class="banner" color="primary"></div>
    <div class="content">
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center" class="heading">
                <div fxFlex="20">
                    <span class="heading-text">
                        <mat-icon>shopping_basket</mat-icon> Products
                    </span>
                </div>
                <div fxFlex="60">
                    <div class="search-wrapper">
                        <div class="search">
                            <mat-icon>search</mat-icon>
                            <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search for a product" fxFlex>
                        </div>
                    </div>
                </div>
                <div fxFlex="20">
                    <button mat-raised-button (click)="addProduct()">Add New Products</button>
                </div>
            </div>

            <div fxLayout="row">
                <mat-card class="card-container" fxFlex>
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let row" (click)="getProductDetails(row.id)"> {{row.id}} </td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let row" (click)="getProductDetails(row.id)">
                                <img [src]=row.image class="table-image">
                            </td>
                        </ng-container>
                        <!-- Progress Column -->
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                            <td mat-cell *matCellDef="let row" (click)="getProductDetails(row.id)"> {{row.category}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let row" (click)="getProductDetails(row.id)"> {{row.name}} </td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                            <td mat-cell *matCellDef="let row" (click)="getProductDetails(row.id)"> {{row.price}} </td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                            <td mat-cell *matCellDef="let row" (click)="getProductDetails(row.id)">
                                <span class="product-status" [ngClass]="{'success': row.quantity >= 20, 'error': row.quantity < 10, 'warning': row.quantity < 20 && row.quantity >= 10 }"></span> {{row.quantity}} 
                            </td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                            <td mat-cell *matCellDef="let row" (click)="getProductDetails(row.id)">
                                <mat-icon class="success status" *ngIf="row.active == 1">check</mat-icon>
                                <mat-icon class="error status" *ngIf="row.active == 0">close</mat-icon>
                            </td>
                        </ng-container>
                        <!-- [style.color]="row.color" -->

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </mat-card>
            </div>
        </div>
    </div>
</div>