<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="md-sidenav-left" mode="side">
    <button g-repeat-start="item in vm.menuItems" layout="column" layout-align="center center" flex class="capitalize"
      ng-click="vm.selectItem(item)">
      <div hide-sm hide-md class="md-tile-content">
        <i class="material-icons md-36">dashboard</i>
      </div>
      <div class="md-tile-content">
        Dashboard
      </div>
    </button>
    <button g-repeat-start="item in vm.menuItems" layout="column" layout-align="center center" flex class="capitalize"
      ng-click="vm.selectItem(item)">
      <div hide-sm hide-md class="md-tile-content">
        <i class="material-icons md-36">person</i>
      </div>
      <div class="md-tile-content">
        Profile
      </div>
    </button>
    <button g-repeat-start="item in vm.menuItems" layout="column" layout-align="center center" flex class="capitalize"
      ng-click="vm.selectItem(item)">
      <div hide-sm hide-md class="md-tile-content">
        <i class="material-icons md-36">info</i>
      </div>
      <div class="md-tile-content">
        Order Details
      </div>
    </button>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [opened]="!small" class="sidenav mat-elevation-z8" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <mat-toolbar class="white"><img src="assets/logo.png" width="80%" style="margin:auto"></mat-toolbar>
      <mat-nav-list>
          <a class="sidenavelement" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
              routerLink="/" mat-list-item href="#">
              <mat-icon>dashboard</mat-icon> &nbsp; Dashboard
          </a>
          <a class="sidenavelement" routerLinkActive="active-link" routerLink="/user" mat-list-item href="#">
              <mat-icon>person</mat-icon> &nbsp; User Profile
          </a>
          <a class="sidenavelement" routerLinkActive="active-link" routerLink="/table" mat-list-item href="#">
              <mat-icon>table_chart</mat-icon> &nbsp; Table List
          </a>
          <a class="sidenavelement" routerLinkActive="active-link" routerLink="/typo" mat-list-item href="#">
              <mat-icon>text_fields</mat-icon> &nbsp; Typography
          </a>
          <a class="sidenavelement" routerLinkActive="active-link" routerLink="/icons" mat-list-item href="#">
              <mat-icon>insert_emoticon</mat-icon> &nbsp; Icons
          </a>
          <a class="sidenavelement" routerLinkActive="active-link" routerLink="/maps" mat-list-item href="#">
              <mat-icon>map</mat-icon> &nbsp; Maps
          </a>
          <a class="sidenavelement" routerLinkActive="active-link" routerLink="/notify" mat-list-item href="#">
              <mat-icon>notification_important</mat-icon> &nbsp; Notifications
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Material Dashboard</span>
          <span fxflex class="example-spacer"></span>
          <button mat-icon-button>
              <mat-icon>dashboard</mat-icon>
          </button>
          <button mat-icon-button matBadge="8" matBadgePosition="after" matBadgeColor="accent">
              <mat-icon>notifications</mat-icon>
          </button> &nbsp;

          <a mat-button [matMenuTriggerFor]="menu">{{username}}</a>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>
                  <mat-icon>account_box</mat-icon>
                  <span>Profile</span>
              </button>
              <button mat-menu-item>
                  <mat-icon>settings</mat-icon>
                  <span>Account Settings</span>
              </button>
              <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
              </button>
              <button mat-menu-item *ngIf="isLogedIn">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Sign out</span>
              </button>
              <button mat-menu-item *ngIf="!isLogedIn" routerLink="/login">
                <mat-icon>lock_open</mat-icon>
                <span>Login</span>
            </button>
          </mat-menu>
      </mat-toolbar>
      <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>